COMPOSE_PROJECT_NAME=festacaminhoneiros-tracking

TRACCAR_DB_PASSWORD=change-me
TRACCAR_EMAIL=admin@festadoscaminhoneiros.com.br
TRACCAR_PASSWORD=change-me

GATEWAY_ADMIN_TOKEN=change-me-32-plus-random-chars-0000
PUBLIC_ORIGIN=https://festadoscaminhoneiros.com.br
LIVE_PUBLIC_URL=https://live.festadoscaminhoneiros.com.br
GPS_PUBLIC_URL=https://gps.festadoscaminhoneiros.com.br

CLOUDFLARE_TUNNEL_TOKEN=change-me

MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
MAP_TILE_ATTRIBUTION=OpenStreetMap contributors
